*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#App{
    background:linear-gradient(rgb(139, 139, 218),rgba(0, 0, 139, 0.693));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}